aside {
  background-color: get-color("text");
  color: get-color("bg");
  // High contrast selection
  ::selection {
    color: get-color("text");
    background: get-color("bg");
  }
  // when sidebar grid layout, stick content to right
  @include media-query("lg") {
    text-align: right;
  }
}
