$overlap: 313px;
$photoSize: var(--photo-max);
$titleSize: get-size("major");
$padding: get-size("800");

// clip-path color switching credit to Mandy Michael: https://codepen.io/mandymichael/pen/LWPWvx
// desktop-only
@include media-query("lg") {
  .header-overlap {
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .header-overlap--overlapped {
    padding-top: calc(#{$photoSize} + #{$titleSize} + #{$padding});
  }

  .header-overlap__title {
    position: relative;
    margin-top: 0;
    font-size: $titleSize;
    left: -$overlap;
    &:before {
      content: attr(data-title);
      position: absolute;
      overflow: hidden;
      clip-path: polygon(0 0, $overlap 0, $overlap 100%, 0% 100%);
      width: 100%;
      color: var(--color-bg);
    }
  }

  .header-overlap__subtitle {
    padding-left: $padding;
  }

  .header-overlap__photo {
    width: $photoSize;
    position: absolute;
    left: calc((#{$photoSize} + #{$padding}) * -1);
    top: calc(#{$titleSize} + #{$padding} + var(--space));
  }
}
