$overlap: 250px;
$photoSize: var(--photo-max);
$titleSize: get-size("major");
$padHorizontal: get-size("800");

// clip-path color switching credit to Mandy Michael: https://codepen.io/mandymichael/pen/LWPWvx
// desktop-only
@include media-query("lg") {
  .header-overlap {
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .header-overlap--overlapped {
    padding-top: calc(#{$photoSize} + #{$titleSize});
  }

  .header-overlap__title {
    position: relative;
    font-size: $titleSize;
    left: -$overlap;
    &:before {
      content: attr(data-title);
      position: absolute;
      overflow: hidden;
      clip-path: polygon(0 0, $overlap 0, $overlap 100%, 0% 100%);
      width: 100%;
      color: var(--color-bg);
      text-shadow: 0px 3px 3px var(--color-text);
    }
  }

  .header-overlap__subtitle {
    padding-left: $padHorizontal;
  }

  .header-overlap__photo {
    width: $photoSize;
    position: absolute;
    left: calc((#{$photoSize} + #{$padHorizontal}) * -1);
    top: $titleSize;
  }
}
