.photo {
  position: relative;
  @include media-query("md") {
    width: var(--photo-max);
  }
  img {
    border-radius: 50%;
    height: auto;
  }
}

.photo__themes {
  position: absolute;
  left: -35%;
  display: none;
}
