.sidebar-grid {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main";
  @include media-query("lg") {
    grid-template-columns: 40% 80ch;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
  }
}

.sidebar-grid aside {
  grid-area: sidebar;
}

.sidebar-grid header {
  grid-area: header;
}
.sidebar-grid main {
  grid-area: main;
}
