.theme-switcher {
  --border-width: 3px;
  --border-radius: 10px;
  position: fixed;
  top: var(--space);
  right: var(--space);
  button {
    cursor: pointer;
  }
  &__display {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    position: relative;
    svg {
      align-self: center;
    }
  }
  &__options {
    position: relative;
    top: -2ch;
    right: 2ch;
    border-radius: var(--border-radius);
    box-shadow: -1px 1px 5px get-color("text"), 1px -1px 5px get-color("text");
    background-color: get-color("bg");
    color: get-color("text");
    transform-origin: right;
    // need original values for transition to work both ways
    opacity: 0;
    transform: rotateY(90deg);
    transition: transform 0.6s, opacity 0.5s;
  }
  &__heading {
    @include apply-utility("font", "main");
  }
  &__option {
    font-weight: bold;
    text-align: center;
    padding: get-size("400");
    background: get-color("bg");
    color: get-color("text");
    @include apply-utility("font", "accent");
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
    border-radius: var(--border-radius);
    position: relative;
    &:focus,
    &:hover {
      outline: none;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-left: get-size("300") solid get-color("text");
        border-top: get-size("300") solid transparent;
        border-bottom: get-size("300") solid transparent;
      }
    }
  }
}

[aria-expanded="true"] + .theme-switcher__options {
  transform: rotateY(0deg);
  opacity: 1;
}

[aria-expanded="false"] + .theme-switcher__options {
  transform: rotateY(90deg);
  opacity: 0;
}

// selected theme style
[data-theme="default"] .theme-switcher__option[data-theme="default"],
[data-theme="shire"] .theme-switcher__option[data-theme="shire"],
[data-theme="galaxy"] .theme-switcher__option[data-theme="galaxy"] {
  border: var(--border-width) solid get-color("text");
  outline: var(--border-width) solid get-color("text");
  outline-offset: 0.1rem;
}

[data-switcher-open="true"] header,
[data-switcher-open="true"] aside,
[data-switcher-open="true"] main {
  filter: blur(8px);
}
