.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  > * {
    @include apply-utility("pad-top", "900");
    @include apply-utility("pad-bottom", "900");
    @include apply-utility("pad-right", "900");
    @include apply-utility("pad-left", "900");
  }
}

.with-sidebar .sidebar {
  flex-shrink: 0;
  flex-grow: 1;
  & > * {
    width: 30ch;
  }
}

.with-sidebar .not-sidebar {
  flex-shrink: 1;
  flex-grow: 2;
  min-width: 50%;
  & > * {
    width: 60ch;
  }
}
