@font-face {
  font-family: "HobbitonBrushhand";
  src: url("/theme-fonts/HobbitonBrushhand.ttf") format("truetype");
}

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("/theme-fonts/SFDistantGalaxy.ttf") format("truetype");
}

:root {
  --flow-space: #{get-size("600")};
  --photo-max: 300px;
}

body {
  line-height: 1.5;
  font-size: get-size("400");
  background-color: get-color("bg");
  color: get-color("text");
  @include apply-utility("font", "main");
  // High contrast selection
  ::selection {
    color: get-color("bg");
    // TODO: Browser test selection colors, not using rgba might be an issue
    background: get-color("text");
  }
  @include media-query("md") {
    font-size: get-size("500");
  }
}

aside {
  background-color: get-color("text");
  color: get-color("bg");
  // High contrast selection
  ::selection {
    color: get-color("text");
    background: get-color("bg");
  }
}

a {
  color: currentColor;
}

:focus {
  outline: 2px dashed currentColor;
  outline-offset: 0.25rem;
}

h1,
h2 {
  @include apply-utility("font", "accent");
}
