@font-face {
  font-family: "HobbitonBrushhand";
  src: url("/theme-fonts/HobbitonBrushhand.ttf") format("truetype");
}

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("/theme-fonts/SFDistantGalaxy.ttf") format("truetype");
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-main);
  color: var(--color-text);
}

aside {
  background-color: var(--color-text);
}

aside * {
  color: var(--color-bg);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-accent);
}
