<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <!-- Include relevant metadata -->
        <!-- Print stylesheet -->
        <title>Jack Y. Araz Resume</title>
    </head>
    <body class="h-resume">
        <!-- todo: nunjucks and prettier fix -->
        {% include "partials/aside.html" %} {% include
        "partials/header.html" %} {% include "partials/main.html" %}
    </body>
</html>
