{% set assetHash = helpers.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Include relevant metadata -->
    {# see https://www.filamentgroup.com/lab/async-css.html for media="print" explanation #}
    <link rel="stylesheet" media="print" href="/css/main.css?{{ assetHash }}" onload="this.media='all'" />
    <title>{{ site.title }}</title>
  </head>
  <body class="h-resume">
    {% include "partials/aside.njk" %}
    {% include "partials/header.njk" %}
    {% include "partials/main.njk" %}
  </body>
</html>
