{% set assetHash = helpers.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Include relevant metadata -->
    {# see https://www.filamentgroup.com/lab/async-css.html for media="print" explanation #}
    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />
    <link rel="stylesheet" media="print" href="/css/themes.css?{{ assetHash }}" onload="this.media='all'" />
    <link rel="stylesheet" media="print" href="/css/main.css?{{ assetHash }}" onload="this.media='all'" />
    <title>{{ site.title }}</title>
     <script>(localStorage.getItem('theme')) && document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'))</script>
  </head>
  <body class="h-resume | sidebar-grid">
      {% include "partials/theme-switcher.njk" %}
      {% include "partials/aside.njk" %}
      {% include "partials/header.njk" %}
      {% include "partials/main.njk" %}
  </body>
  <script>

const THEME_STORAGE_KEY = 'theme'

class ThemeSwitcher {
    constructor() {
        this.activeTheme = 'default'
        this.hasLocalStorage = typeof Storage !== 'undefined'
        this.svg = document.getElementById('photo__themes')
        this.toggle = document.getElementById('theme-switcher__display')
        this.themeOptions = document.querySelectorAll('.theme-switcher__option')

        this.init()
    }

    init() {
        const systemPreference = this.getSystemPreference()
        const storedPreference = this.getStoredPreference()

        if (storedPreference) {
            this.activeTheme = storedPreference
        } else if (systemPreference) {
            this.activeTheme = systemPreference
        }

        this.bindEvents()
        this.setTheme(this.activeTheme)
    }

    {# todo: when theme menu is open, blur header, aside, and main (body:not(.theme-switcher)?), use inert #}
    {# todo: when theme menu is closed, no blur#}

    bindEvents() {
        this.toggle.addEventListener('click', () => this.toggleOptionDisplay())
        this.themeOptions.forEach((option) => {
            const id = option.dataset.theme;
            if (id) {
                option.addEventListener('click', () => this.setTheme(id))
            }
        })
    }

    getSystemPreference() {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark'
        }
        return false
    }

    getStoredPreference() {
        if (this.hasLocalStorage) {
            return localStorage.getItem(THEME_STORAGE_KEY)
        }
        return false
    }

    toggleOptionDisplay() {
        const currentState = this.toggle.getAttribute('aria-expanded') === 'false' ? false : true;
        this.toggle.setAttribute('aria-expanded', String(!currentState));

        {# if (!currentState) {

        } #}
    }
    

    setTheme(id) {
        this.activeTheme = id
        document.documentElement.setAttribute('data-theme', id)

        {# change viewport for photo overlay (TODO: put this somewhere better) #}
        const pans = {
            galaxy: 840,
            shire: 4120,
            default: 2500
        };

        this.svg.setAttribute('viewBox', `${pans[id]} -50 450 2376`)


        if (this.hasLocalStorage) {
            localStorage.setItem(THEME_STORAGE_KEY, id)
        }
    }
}

if (window.CSS && CSS.supports('color', 'var(--fake-var)')) {
    new ThemeSwitcher()
}
  </script>
</html>
