---
permalink: '/css/print.css'
---
{# maybe todo: add filter on frontmatter that creates print stylesheet link? #}
{% set theme = themes|findById('default')  %}
@media print { 
    {# print default black and white #}
    :root {
        --color-bg: {{ theme.colors.background }};
        --color-text: {{ theme.colors.text }};
        --font-main: {{ theme.fonts.main }};
        --font-accent: {{ theme.fonts.accent }};
        --overlap: 0;
    }

    {# prevent clipped content at end of pages #}
    * {
        overflow: visible;
    }

    {# remove any theme backgrounds #}
    body {
        background-image: none !important;
        background-blend-mode: none !important;
    }

    {# in case print button is pressed when theme switcher is open #}
    [data-switcher-open="true"] header,
    [data-switcher-open="true"] aside,
    [data-switcher-open="true"] main {
        filter: blur(0) !important;
    }

    {# reset solid aside background, remove overlap spacing #}
    aside {
        background-color: var(--color-bg) !important;
        color: var(--color-text) !important;
        padding-top: var(--pad-vertical) !important;
        text-align: left !important;
    }

    {# force stacked content #}
    .sidebar-grid {
        grid-template-columns: 1fr !important;
        grid-template-areas:
        "header"
        "sidebar"
        "main" !important;
    }

    {# remove photo and theme switcher #}
    .theme-switcher,
    .header-overlap__photo {
        display: none !important;
    }

    {# use tablet/mobile header size #}
    .header-overlap__title {
        font-size: get-size('700') !important;
    }

    {# remove data title visual effect #}
    .header-overlap__title:before {
        content: '' !important;
    }

    {# add section title styling to subtitle #}
    .header-overlap__subtitle {
        border-top: 4px solid var(--color-text);
        border-bottom: 4px solid var(--color-text);
    }

    {# standardize header alignment #}
    .header-overlap__title,
    .header-overlap__subtitle {
        margin-top: 0 !important;
        padding-left: 0 !important;
        text-align: left !important;
    }

    {# reduce unnecessary space #}
    header {
        padding-top: 0 !important;
    }
    header,
    aside {
        padding-bottom: 0 !important;
    }

    {# put links and address side by side #}
    .p-contact {
        display: flex !important;
        flex-direction: row-reverse !important;
        flex-wrap: wrap !important;
        justify-content: flex-end !important;
    }

    aside.stack > *+* {
        margin-top: 0 !important;
    }

    .p-contact h2 {
        width: 100% !important;
    }

    .p-contact address {
        margin-inline-start: var(--pad-horizontal);
    }
}