---
permalink: '/css/themes.css'
---

{% macro customprops(theme) %}
    --color-bg: {{ theme.colors.background }};
    --color-text: {{ theme.colors.text }};
    --color-text-offset: {{ theme.colors.textOffset }};
    --color-primary: {{ theme.colors.primary }};
    --font-main: {{ theme.fonts.main }};
    --font-accent: {{ theme.fonts.accent }};
{% endmacro %}

{%- set default = themes|findById('default') -%}

:root {
    {{ customprops(default) }}
}
