<aside>
  <img
    src="./images/fill-murray.jpg"
    alt="Fill Murray placeholder"
    class="u-photo"
  />
  <section class="p-contact">
    <h2>Contact</h2>
    <address class="h-adr p-adr">
      <span class="p-name"
        >Institute for Particle Physics Phenomenology Office: OC209a Durham
        University</span
      >
      <span class="p-street-address">South Road</span>
      <span class="p-locality">Durham</span>
      <span class="p-postal-code">DH1 3LE</span>,
      <abbr class="p-country-name" title="United Kingdom">UK</abbr>
    </address>
    <ul>
      <li>
        <a class="u-email" href="mailto:jack.araz@durham.ac.uk"
          >Email: jack.araz@durham.ac.uk</a
        >
      </li>
      <li>
        <a class="u-url" href="https://inspirehep.net/authors/1599325"
          >INSPIRE: Araz, Jack Y.</a
        >
      </li>
      <li>
        <a class="u-url" href="https://orcid.org/0000-0001-8721-8042"
          >ORCID: 0000-0001-8721-8042</a
        >
      </li>
      <li>
        <a class="u-url" href="https://github.com/jackaraz">GitHub: jackaraz</a>
      </li>
      <li>
        <a class="u-url" href="https://gitlab.com/jackaraz">GitLab: jackaraz</a>
      </li>
      <li>
        <a class="u-url" href="https://uk.linkedin.com/in/jackaraz"
          >LinkedIn: Jack Araz</a
        >
      </li>
    </ul>
  </section>
  <section>
    <h2>Languages</h2>
    <ul>
      <li class="p-skill">Turkish: mother tongue</li>
      <li class="p-skill">English: professional proficiency</li>
    </ul>
  </section>
</aside>
