<aside>
  {% set src = ["./src/", general.image] | join %}
  {% set alt = general.name %}
  {% image src, alt, "(min-width: 300px) 600px, 100vw" %}
  <section class="p-contact">
    <h2>Contact</h2>
    {% include "./contactAddress.njk" %}
    {% include "./contactLinks.njk" %}
  </section>
  <section>
    <h2>Languages</h2>
    <ul>
    {% for language in general.languages %}
        <li class="p-skill">{{ language.name }}: {{ language.level }}</li>
    {% endfor %}
</ul>
  </section>
</aside>
