<aside>
  <img
    src="./images/fill-murray.jpg"
    alt="Fill Murray placeholder"
    class="u-photo"
  />
  <section class="p-contact">
    <h2>Contact</h2>
    {% include "./address.njk" %}
    {% include "./contactLinks.njk" %}
  </section>
  <section>
    <h2>Languages</h2>
    {% include "./languages.njk" %}
  </section>
</aside>
