<aside class="header-overlap--overlapped | stack pad-horizontal pad-vertical">
  <section class="p-contact | stack lg:pad-top-800">
    <h2>Contact</h2>
    {% include "./contactAddress.njk" %}
    {% include "./contactLinks.njk" %}
  </section>
  <section class="stack pad-top-600">
    <h2>Languages</h2>
    <ul>
    {% for language in general.languages %}
        <li class="p-skill">{{ language.name }}: {{ language.level }}</li>
    {% endfor %}
</ul>
  </section>
</aside>
