<address class="h-adr p-adr">
  <span class="p-name">
    Institute for Particle Physics </br>
    Durham University <br/>Phenomenology Office: OC209a
  </span>
  <div>
    <span class="p-street-address">South Road,</span>
    <span class="p-locality">Durham,</span>
    <span class="p-postal-code">DH1 3LE,</span>
    <abbr class="p-country-name" title="United Kingdom">UK</abbr>
  </div>
</address>
