<header class="header-overlap | stack pad-horizontal pad-vertical">
  <div class="photo header-overlap__photo">
    {% include "./overlayShire.njk" %}
    {% include "./overlayGalaxy.njk" %}
    {% set src = ["./src/", general.image] | join %}
    {% set alt = general.name %}
    {% image src, alt, "(min-width: 300px) 600px, 100vw" %}
  </div>
  <h1
    class="p-name | header-overlap__title | priority-10"
    data-title="{{ general.name }}"
  >
    {{ general.name }}
  </h1>
  <h2 class="p-job-title | header-overlap__subtitle">{{ general.job }}</h2>
</header>
