{% import "./section.njk" as content %}

<main>
  {{ content.section('education', 'education') }}
  {{ content.section('research', 'experience') }}
  {{ content.section('teaching', 'experience') }}
  {% include "./skills.njk" %}
  {{ content.section('talks', 'experience') }}
  {{ content.section('grants', 'experience') }}
  {{ content.section('outreach', 'experience') }}
</main>
