<main class="stack pad-horizontal pad-vertical">
  {% for section in main.sections %}
    {% if section.isList %}
      {% set listSection = section %}
      {% include './sectionSkills.njk'%}
    {% else %}
      {% set collection = section.entries %}
      {% set title = section.title %}
      {% include './sectionEvents.njk'%}
    {% endif %}
  {% endfor %}
</main>
