{% import "./section.njk" as content with context %}

<main class="stack pad-horizontal">
  {# will replace with sections loop for user-determined order #}
  {# well this is terrible. how do i avoid the double-naming? how to include skills list? #}
  {# maybe split sections.first and sections.second, for where they break around skills list #}
  {% for section in sections.sections %}
    {{ content.section(section, collections) }}
  {% endfor %}
  {% include "./skills.njk" %}
  {# {{ content.section('talks') }}
  {{ content.section('grants') }}
  {{ content.section('outreach') }} #}
</main>
