<main>
  <section>
    <h2>Education</h2>
    <ol>
      <li class="p-education h-event">
        <article>
          <p>
            <span class="dt-start" datetime="2014-01-01">2014</span> –
            <span class="dt-end" datetime="2020-01-01">2020</span>
          </p>
          <h3 class="p-name">PhD in Theoretical High Energy Physics</h3>
          <p class="p-org h-card">
            <span class="p-name">Concordia University</span>,
            <span class="p-locality">Montréal</span>,
            <abbr class="p-region" title="Québec">QC</abbr>,
            <abbr class="p-country" title="Canada">CA</abbr>.
            <span class="p-note">PI: M. Frank</span>
          </p>
        </article>
      </li>
    </ol>
  </section>
  <section>
    <h2 class="p-category">Research Experience</h2>
    <ol reversed>
      <li class="p-experience h-event">
        <article>
          <p>
            <span class="dt-start" datetime="2020-09-01">2020</span> –
            <span>Present</span>
          </p>
          <h3 class="p-name">Postdoctoral Research Associate</h3>
          <p class="p-org h-card">
            <span class="p-name">IPPP – Durham University</span>,
            <span class="p-region">Durham</span>,
            <abbr class="p-country" title="United Kingdom">UK</abbr>.
            <span class="p-note">PI: M. Spannowsky & B. Pecjak</span>
          </p>
        </article>
      </li>
    </ol>
  </section>
  <section>
    <h2 class="p-category">Teaching Experience</h2>
    <ol reversed>
      <li class="p-experience h-event">
        <article>
          <p>
            <span class="dt-start" datetime="2020-09-01">2020</span> –
            <span>Present</span>
          </p>
          <h3 class="p-name">Teaching Assistant</h3>
          <p class="p-org h-card">
            <span class="p-name">IPPP – Durham University</span>,
            <span class="p-region">Durham</span>,
            <abbr class="p-country" title="United Kingdom">UK</abbr>.
            <span class="p-summary"
              >Tutoring undergrad and postgraduate students.</span
            >
          </p>
        </article>
      </li>
    </ol>
  </section>
  <section>
    <h2>Other Skills</h2>
    <h3>Programming</h3>
    <ul>
      <li class="p-skill">Python</li>
      <li class="p-skill">C++</li>
      <li class="p-skill">Latex</li>
      <li class="p-skill">Fortran</li>
      <li class="p-skill">Bash script</li>
    </ul>
    <h3>Operating Systems</h3>
    <ul>
      <li class="p-skill">Linux (Debian)</li>
      <li class="p-skill">Operating Systems</li>
    </ul>
  </section>
  <section>
    <h2 class="p-category">Talks and Workshops</h2>
    <ol reversed>
      <li class="p-experience h-event">
        <article>
          <p>
            <span class="dt-start" datetime="2020-11-01">2020</span>
            <span class="dt-end" datetime="2020-11-01" />
          </p>
          <h3 class="p-name">MadAnalysis 5 Tutorial</h3>
          <p class="p-org h-card">
            <span class="p-name">Institut de Physique des 2 Infinis</span>,
            <span class="p-region">Lyon</span>,
            <span class="p-country">France</span>.
            <span class="p-note">FR Tools 2020</span>
          </p>
        </article>
      </li>
    </ol>
  </section>
  <section>
    <h2 class="p-category">Grants & Awards</h2>
    <ol reversed>
      <li class="p-experience h-event">
        <article>
          <p>
            <span class="dt-start" datetime="2020-02-01">2020</span>
            <span class="dt-end" datetime="2020-08-01" />
          </p>
          <h3 class="p-name">
            2020 Marie Skłodowska-Curie Action Early Stage Researcher Grant
          </h3>
          <p class="p-org h-card">
            <span class="p-name">University of Glasgow</span>,
            <span class="p-region">Glasgow</span>,
            <abbr class="p-country" title="UK">UK</abbr>.
            <span class="p-note"
              >Innovative Training Network MCnetITN3 (grant agreement no.
              722104) 6 month studentship from Feb. 2020. PI: A. Buckley</span
            >
          </p>
        </article>
      </li>
    </ol>
  </section>
  <section>
    <h2 class="p-category">Outreach & Activities</h2>
    <ol reversed>
      <li class="p-experience h-event">
        <article>
          <p>Nov. 2018</p>
          <h3>STEM Sights Interview</h3>
          <p>
            Concordia University, Montréal, <abbr title="Québec">QC</abbr>,
            <abbr title="Canada">CA.</abbr>
          </p>
          <p>For science popularization.</p>
        </article>
      </li>
    </ol>
  </section>
</main>
