{% macro section(section, collections) %}
<section>
  {% set collection = collections[section.folder] %}
  {% set title = section.title %}
  {% set type = section.type %}
    {# need to have collection name meta data or something for heading #}
    <h2 class="{{ "p-category" if type === "experience" }} | keyline">{{ title }}</h2>
    <ol class="reset-list">
      {% for item in collection %}
      <li class="p-{{ type }} h-event">
        <article>
          <p>
            <span class="dt-start" datetime="{{ item.data.start_date | formatDate('yyyy-MM-dd') }}">
              {{ item.data.start_date | formatDate('yyyy') }}
            </span>
            -
            {% if item.data.end_date %}
                <span class="dt-end" datetime="{{ item.data.end_date | formatDate('yyyy-MM-dd') }}">{{ item.data.end_date | formatDate('yyyy') }}</span>
            {% else %}
               <span>Current</span>
            {% endif %}
          </p>
          <h3 class="p-name">{{ item.data.title }}</h3>
          {% set organization = helpers.getOrganization(item.data.organization, collections.organizations) %}
          {# include organization macro template, pass in organization #}
          <p class="p-org h-card">
            <span class="p-name">{{ organization.data.title }}</span>
            {% if organization.data.city %}
              <span class="p-locality">{{ organization.data.city }}</span>
            {% endif %}
            {# needs to adjust between span and abbr depending on data #}
            {% if organization.data.regionAbbr %}
                <abbr class="p-region" title="{{organization.data.region}}">{{ organization.data.regionAbbr }}</abbr>,
            {% else %}
                <span class="p-region">{{organization.data.region}}</span>,
            {% endif %}
            {% if organization.data.countryAbbr %}
                <abbr class="p-country" title="{{organization.data.country}}">{{organization.data.countryAbbr}}</abbr>.
            {% else %}
                <span class="p-country">{{organization.data.country}}</span>.
            {% endif %}
            {% if item.templateContent %}
                <span class="p-summary">{{ item.templateContent | safe }}</span>
            {% endif %}
          </p>
        </article>
      </li>
      {% endfor %}
    </ol>
  </section>
{% endmacro %}