  <section>
    <h2 data-title={{title}} class="section-title">{{ title }}</h2>
    <ol class="reset-list stack">
      {% for item in collection %}
      {{ item.title | dump }}
      <li class="p-event h-event">
        <article class="entry">
          <div>
            <time class="dt-start | entry__start" datetime="{{ item.start_date }}">{{ item.start_date | formatDate('yyyy') }}</time>
            {% if item.end_date %}
                <time class="dt-end | entry__end" datetime="{{ item.end_date }}">- {{ item.end_date | formatDate('yyyy') }}</time>
            {% else %}
               <span class="entry__end">- Current</span>
            {% endif %}
          </div>
          <div>
          <h3 class="p-name | entry__title">{{ item.title }}</h3>
          {% set organization = helpers.getOrganization(item.organization, collections.organizations) %}
          {# include organization macro template, pass in organization #}
          <p class="p-org h-card | entry__org">
            <span class="p-name">{{ organization.data.title }}</span>
            {% if organization.data.city %}
              <span class="p-locality">{{ organization.data.city }}</span>
            {% endif %}
            {# needs to adjust between span and abbr depending on data #}
            {% if organization.data.regionAbbr %}
                <abbr class="p-region" title="{{organization.data.region}}">{{ organization.data.regionAbbr }}</abbr>,
            {% else %}
                <span class="p-region">{{organization.data.region}}</span>,
            {% endif %}
            {% if organization.data.countryAbbr %}
                <abbr class="p-country" title="{{organization.data.country}}">{{organization.data.countryAbbr}}</abbr>.
            {% else %}
                <span class="p-country">{{organization.data.country}}</span>.
            {% endif %}
          </p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ol>
  </section>