{% if collection.length > 0 %}
  <section>
    <h2 data-title={{title}} class="section-title">{{ title }}</h2>
    <ol class="reset-list stack">
      {% for item in collection %}
      {% set startDateDisplay = item.data.start_date | formatDate('MMM yyyy') %}
      {% set endDateDisplay = item.data.end_date | formatDate('MMM yyyy') if item.data.end_date else false %}
      <li class="p-event h-event">
        <article class="entry {{ type | lower }}">
          <div>
            <time class="dt-start | entry__start" datetime="{{ item.data.start_date }}">{{ startDateDisplay }}</time>
            {% if endDateDisplay === false %}
              <span class="entry__end">- Current</span>
            {% elif startDateDisplay !== endDateDisplay  %}
                <time class="dt-end | entry__end" datetime="{{ item.data.end_date }}">- {{ endDateDisplay }}</time>
            {% endif %}
          </div>
          <div>
          <h3 class="p-name | entry__title">{{ item.data.title }}</h3>
          {% set organization = helpers.getOrganization(item.data.organization, collections.organizations) %}
          {% if organization %}
          {# include organization macro template, pass in organization #}
          <p class="p-org h-card | entry__org">
            <span class="p-name">{{ organization.data.title }}</span>
            {% if organization.data.city %}
              <span class="p-locality">{{ organization.data.city }}</span>
            {% endif %}
            {# needs to adjust between span and abbr depending on data #}
            {% if organization.data.regionAbbr %}
                <abbr class="p-region" title="{{organization.data.region}}">{{ organization.data.regionAbbr }}</abbr>,
            {% else %}
                <span class="p-region">{{organization.data.region}}</span>,
            {% endif %}
            {% if organization.data.countryAbbr %}
                <abbr class="p-country" title="{{organization.data.country}}">{{organization.data.countryAbbr}}</abbr>.
            {% else %}
                <span class="p-country">{{organization.data.country}}</span>.
            {% endif %}
          </p>
          {% endif %}
          {% if item.templateContent %}
            <small class="p-summary">{{ item.templateContent | safe }}</small>
          {% endif %}
          </div>
        </article>
      </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}