<section class="skills">
    <h2 class="skills__title | section-title">{{ listSection.title }}</h2>
    {% for skills in listSection.skills %}
      <div class="skills__list">
          <h3>{{ skills.title}}</h3>
          <ul>
          {% for skill in skills.list %}
              <li class="p-skill">{{ skill }}</li>
          {% endfor %}
          </ul>
      </div>
    {% endfor %}
  </section>