<section class="skills">
    <h2 class="skills__title">Other Skills</h2>
    <div class="full md:width-half">

    <h3>Programming</h3>
    {% set skillSet = skills.programming %}
    {% include "./skillList.njk" %}
    </div>
    <div class="width-full md:width-half">
      
    <h3>Operating Systems</h3>
    {% set skillSet = skills.OS %}
    {% include "./skillList.njk" %}
    </div>
  </section>