<section class="skills">
    <h2 data-title="Other Skills" class="skills__title | section-title">Other Skills</h2>
    <div class="skills__list">

    <h3>Programming</h3>
    {% set skillSet = skills.programming %}
    {% include "./skillList.njk" %}
    </div>
    <div class="skillsList">
      
    <h3>Operating Systems</h3>
    {% set skillSet = skills.OS %}
    {% include "./skillList.njk" %}
    </div>
  </section>