<section>
    <h2>Other Skills</h2>
    <h3>Programming</h3>
    {% set skillSet = skills.programming %}
    {% include "./skillList.njk" %}
    <h3>Operating Systems</h3>
    {% set skillSet = skills.OS %}
    {% include "./skillList.njk" %}
  </section>